<div>
  <mat-card>
    <form>
      <mat-form-field>
        <mat-label>Student Name</mat-label>
        <input
          matInput
          [(ngModel)]="name"
          name="name"
          placeholder="Enter student's name"
          value=""
        />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Department</mat-label>
        <mat-select>
          <mat-option *ngFor="let dep of allDepartments" [value]="dep.name">
            {{ dep.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary" (click)="registerStudent()">
        Register
      </button>
    </form>
  </mat-card>
</div>
